.linkedin-button{
    background-color: #027BB5;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}
.bg-image-custom{
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: relative;
}
.white-title{
    color: white;
}

.team-container{
    width: 50%;
    padding: 10% 10%;
    background-color: white;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.team-table{
    width: 35%;
    margin-bottom: 5%;
}
.page-header{
    font-family: 'Sathu';
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid white;
}
.page-sub-header{
    font-family: 'Sathu';
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.custom-container-about{
    background: white;
    width: auto;
    height: auto;
    padding: 25px;
    width: 50%;
}

.active{
    font-weight: bold !important;
    background: gray !important;
}